@layout('layout')

@section('content')
  <div class="flex flex-col text-center">
    <h1 class="text-5xl">Hello World From Adonis Land 👋🏼</h1>
    <p>
      @{{ message }}
    </p>
  </div>
@endsection
